html{
  font-size: 36pt;
}

.counter-style {

  font-size: 50pt;

  text-align: center;

  div {
    font-size: 1.6rem;
  }

  input {
    font-size: 1em;
    width: 300px;
  }

  button {
    font-size: 1.6em;
  }
}

@keyframes a {
  0% {
    width: 250px;
    height: 250px;
  }
  100% {
    width: 350px;
    height: 350px;
  }
}